h1{
   text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    padding-top: 55px;
    padding-left: 70px;
    margin-bottom: 40px;
    margin-left: 70px;
}

h2{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 45px;

}

ul{
 text-align:center;
 margin-right:70px;
  list-style: inside;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
}

footer{
    background-color: #FF9B71;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 20px;
    margin-top:75px;
    margin-left:115px;
    margin-right:95px;
    margin-bottom:25px;
    padding:15px;
}


.titleContent{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:#5B8023;
    margin-left:120px;
    margin-right:120px;
    margin-top:50px;
    
}

#picOfMe{
    margin-top:20px;
    margin-bottom: 20px;
}




