@media (min-width:606px) and (max-width:873px) {
     
    footer{
        margin-left: 39px;
        margin-right: 39px;
        padding: 10px;
        margin-bottom: 48px;
        margin-top: -61px;
     }

    .exampleDesign {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 20px;
        margin-right: 20px;
        grid-gap: 20px;

    }

    .websites {
        width: 100%;
        height: auto;
    }

    .examples {
        width: 80%;
        margin-left: 6%;
    }

    #example3 {
    grid-column: span 2;
    margin-left: 22%;
    margin-bottom: 20px;
    width: 54%;
    height: 85%;
    margin-top: 15px;
    }








}