@media (min-width:606px) and (max-width:873px) {
     
    footer{
        margin-left: 39px;
        margin-right: 39px;
        padding: 10px;
        margin-bottom: 48px;
        margin-top: -61px;
     }

    .exampleDesign {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 20px;
        margin-right: 20px;
        grid-gap: 20px;

    }

    #amazonWebsite {
        width: 97%;
        height: 27%;
    }

    #deseretBookWeb {
        width: 97%;
        height: 27%;

    }

    #tubiWebsite {
        width: 88%;
        height: 38%;
        margin-right: 7px;
        margin-left: 21px;
    }


    .examples {
        width: 80%;
        margin-left: 6%;
    }

    #example3 {
    grid-column: span 2;
    margin-left: 22%;
    margin-bottom: 20px;
    width: 54%;
    height: 85%;
    margin-top: 15px;
    }








}