@media (max-width:605px) {


    footer{
        margin-left: 12%;
        margin-right: 9%;
        margin-top: 59px;
        padding: 5px;
        margin-bottom: 6%;
    }
    
    .websites {
        width: 100%;
        height: auto;
    }

    .exampleDesign {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 20px;
        margin-right: 20px;
        grid-gap: 40px;
    }


    .examples {
        width: 80%;
        height: 100%;
        margin-left: 30px;
        margin-right: -67px;
    }
}

