/* Home Page Basic CSS*/
body{
    background-color: #5398ff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

h3{
  font-size:38px;
}

nav button {
    margin: 10px;
    background: transparent;
    border: none;
    font-size: 30px;
    color:#3c1414;
    background-color:#5398ff;
}

p, ul{
    font-family: 'Bitter', serif;
    font-size: 15px;
    text-align: center;
    padding: 15px;

}

h1,h2{
    margin:15px;
    color:#3c1414;
    font-family:'Arima', cursive;
    text-align: center;

}

h1{
  color: #fa5a3e;
}

nav ul {
    display: none;
}

nav ul.open {
    display: flex;
}



nav ul li a{
    display: block;
    color:#fa5a3e;
    text-decoration: none;
    padding-right:15px;
    padding-left: 28px;
    padding-bottom: 15px;
    font-size: 20px;

}

.dropbtn{
    color:#fa5a3e;
    font-size: 20px;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

.dropdown-content li a{
    color:#fdca40;
    padding:15px;
}

.dropdown{
    margin-left:26px;
}



#services:checked ~ .dropdown-content{
    display: block;
    max-height: 200px;
    background-color: #005400;
}

#services{
    display: none;
}

.logo{
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menuNav {
    background-color:#3c1414;
    display: flex;
    flex-direction: column-reverse;
}


.navBanner{
    display: block;
    width: 76%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Home Page Weather CSS*/

.weather{
   display: flex;
   flex-direction: column;
   background-color:#005400;
   color: #fdca40;
   font-size: 14px;
    margin: 21px;
    font-weight: bold;
  }


.weather-desc{
    margin:15px;
    text-transform: capitalize;
  }

  .weather-icon{
    margin-left: auto;
    display: block;
    margin-right: auto;
  }

  .fTemp{
    text-align: center;
  }


.displayTemp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .cTemp{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .humidity{
    margin:15px;
  }

  #humid{
    margin-left:5px;
  }

  .forecast{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fdca40;
    color: #3c1414;
  }

  .tempH{
    color:#fdca40;
  }


  .displayAlert{
    font-size: 64px;
  }

  .alertDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weatherAlert{
    background-color: #fdca40;
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-family: 'Bitter', serif;
    color: #3c1414;
   
  }

  @media(max-width: 374px) {
    .forecast{
        display: none;
    }

   

  }

  /*About Hotel Home Page CSS*/

  .welcome{
    font-size: 40px;
  }

  .aboutHotel p{
    margin-left: 3%;
    margin-right: 3%;
    background-color: #3c1414;
    color: #fa5a3e;
    padding: 15px;
    text-align: justify;
    font-size: 21px;
  }

  #hotel{
    width: 87%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  /*Slideshow Home Page CSS*/

  .slideshow{
    margin:45px;
    position: relative;
  }

  .slideshow img{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #message{
    position: absolute;
    margin-top: -121px;
    margin-left: 56%;
    padding:11px;
    background-color: #3c1414;
    color: #fa5a3e;
    font-family: 'Bitter', serif;
    font-size: 20px;
    border-radius: 2em;
    border-color: #fdca40;
    border-width: thick;
  }

  /*Temple Section Home Page CSS*/
  #mTemple{
    width: 89%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }

  .meridianTemple p{
    background-color:#fdca40;
    color:#3c1414;
    margin-left: 14%;
    margin-right: 14%;
    font-size: 23px;
  }

  #mInfo{
    list-style: none;
    text-align: center;
    background-color: #fdca40;
    color:#3c1414;
    margin-left: 14%;
    margin-right: 14%;
    padding: 15px;
    font-size: 23px;
  }

  

  /*Amenities Home Page*/
  .spotlights{
    background-color:#005400;
    padding: 15px;
  }


  figure img{
    width: 100%;
    height: auto;
  }

  figcaption{
    font-family: 'Bitter', serif;
    background-color: #3c1414;
    color: #fa5a3e;
    padding: 15px;
    
  }
  .aIcons{
  background-color: aliceblue;
  padding: 10%;
  border-radius: 1em;
  margin: 10%;
  }

  .aIcons img{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height: auto;

  }

  /*Footer */

  .footerFormat{
    display: flex;
    flex-direction: column;
    background-color: #3c1414;
    color: #fa5a3e;
    font-family:'Arima', cursive;
    padding:15px;
  }

  .footerFormat p{
    font-size: 21px;
  }

  iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;

  }

  .mediaIcons{
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  .mediaIcons img{
    width: 25%;
    height: auto;
  }

  /*Temple Page*/

  .tempImg{
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .temp-desc{
    list-style: none;
    text-align: center;
    color: #fdca40;
    background-color: #005400;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;

}

.templeQuote{
  background-color: #fdca40;
  color: #3c1414;
  margin:10%;
  font-size: 20px;
}

  








