body {
    background-color: #0d1316;
}

picture img[data-src] {
    filter: blur(0.7em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.9s;
}

textarea {
    padding: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table {
    border-collapse: collapse;
}


form fieldset {
    margin: 4vh;
    margin-top: 19px;
    border-color: olive;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: #d3b6b0;
    font-family: 'Arvo', serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

footer#thankYouPage {
    margin-top: 58px;
}

form legend,
#preference {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FFBF00;
    background-color: #942a32;
    padding: 15px;
    border-radius: 22px;
}

#preference {
    width: 39%;
}

form label.top input,
form label.sub input {
    display: block;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid black;
    border-radius: 4px;
    padding: 15px;
    color: #0d1316;
    width: 95%;
    max-width: 90%;
    background-color: #d3b6b0;
}

form label.sub {
    display: block;
    padding: 15px;
    color: #0d1316;
    font-weight: bold;

}


label.sub input:required:invalid {
    border-color: red;
    border-width: 5px;
}



label.sub input:focus:invalid {
    background: url("../join/images/warning.png") no-repeat 95% 50% lightsalmon;
    background-size: 25px;
}

label.sub input:focus:valid {
    background: url("../join/images/thumbsup.png") no-repeat 95% 50% lightgreen;
    background-size: 25px;
}

form label.option {
    display: block;
    text-align: center;
    padding: 20px;
    margin: 15px;
}

input[type='radio'] {
    transform: scale(2);
    margin-right: 15px;
}

input[type='checkbox'] {
    transform: scale(2);
    margin-right: 15px;
}

form input.submitBtn {
    border: none;
    background-color: #942a32;
    color: white;
    border-radius: 20px;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 96%;
    max-width: 72%;
    text-align: center;
    font-size: 40px;
}

th,
td {
    font-family: 'Varela Round', sans-serif;
    color: #0d1316;
    text-align: center;
    text-align: center;
    padding: 7px 15px;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #2a9477;
    background-color: white;
}


footer {
    background-color: #DE1A1A;
    color: white;
    text-align: center;
    font-family: 'Arvo', serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    margin-right: -10px;
}

nav button {
    margin: 10px;
    background: transparent;
    border: none;
    font-size: 30px;
    color: #988F2A;
    background-color: #0d1316;
}

nav {
    background-color: #942a32;
    font-family: 'Arvo', serif;
    margin-left: 15px;
    margin-right: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    border-top: 2px solid black;
}


nav ul li a:hover {
    background-color: #d3b6b0;
    color: black;

}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

h1,
h2,
h3 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color: #988F2A;
    margin-left: 15px;
    margin-top: 24px;
}

p {
    text-align: center;
    color: #0d1316;
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    padding-left: 32px;
    background-color: #d3b6b0;
    padding-right: 32px;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}



main.discoverP,
main.homePage {
    display: grid;
    grid-template-columns: 1fr;

}

iframe {
    margin-top: 10px;
    width: 95%;
}

figure {
    margin-top: -9%;
}

figcaption {
    font-family: 'Varela Round';
    color: #988F2A;
    font-size: 28px;
    font-weight: bold;
    width: max-content;
}


div.gallery {
    float: left;
    align-items: center;
    margin: 5px;
    border: 5px solid #ccc;
    width: 85%;
    background-color: #778989;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    font-size: 20px;
    padding: 15px;
    text-align: center;
    background-color: #988F2A;
}



#grid {
    background-image: url("../directory/images/gridBtn.png");
    background-size: 100%;
    padding: 66px;
    height: 90px;
    width: 91px;
    background-color: white;
}


#list {
    background-image: url("../directory/images/listBtn.png");
    background-size: 100%;
    padding: 66px;
    height: 90px;
    width: 91px;
    background-color: white;
}

#thankImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    height: auto;
}


#joinPage {
    width: fit-content;
}

#directory {
    width: fit-content;
}

#describe {
    width: 45%;
    height: fit-content;
}

#facts li {
    color: white;
    background-color: #942a32;
    margin-bottom: 15px;
    font-family: 'Rokkitt', serif;
    text-align: center;
    margin-right: 5%;
    font-size: 18px;
    padding: 15px;
}

#galleryDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#heroImg {
    width: 95%;
    height: auto;
    padding: 15px;
}

#circus {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#currentDate {
    background-color: #942a32;
    color: white;
    font-size: 25px;
    padding: 10px;
}

#contactForm {
    padding: 20px;
}

#contactForm form fieldset {
    width: 94%;
}

#hero {
    position: absolute;
    width: 100%;
}

#news {
    margin-top: 54%;
}

#wandaVision {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 89%;
    height: auto;
}

#event {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
}

#weather-icon {
    display: block;
    width: 84%;
    margin-top: -9px;
    margin-left: auto;
    margin-right: auto;
}

#displayTemp,
#temp {
    display: inline-block;
    font-family: 'Varela Round';
    font-weight: bold;
    color: #988F2A;
    background: none;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

#pieChartBox {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    background-color: #778989;
    margin-right: -10px;
    padding-right: 15px;

}

#legend {
    margin-left: 20px;
    background-color: navajowhite;
    padding: 5px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    margin-right: 10px;
}

#color-pink {
    background-color: #FF206E;
}

#color-grey {
    background-color: #2B303A;
}

#color-teal {
    background-color: #04A777;
}

#color-orange {
    background-color: #FB8B24;

}

#barTitle {
    white-space: nowrap;
    margin-left: 23%;
}

#numVisit p {
    background-color: #DE1A1A;
    color: white;

}

#contactPage {
    width: fit-content;
}

#message {
    position: relative;
    top: -140px;
    left: 74%;
    color: #988F2A;
    font-family: 'Varela Round', sans-serif;
    background-color: #0d1316;
    border: #942a32;
    border-style: solid;
    border-width: 10px;
    border-radius: 1em;
    padding-bottom: 15px;
    width: 20%;
    padding-top: 15px;
}

#layoutOpt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    margin-left: 7%;
    margin-right: 5%;
}


#layoutOpt img {
    width: 46%;
    height: auto;
}

.cards {
    margin-bottom: 33px;
}


.cards section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 5px;
}

.list {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 1%;
}

.displayBoard {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.boardMember img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 57%;
    height: auto;
}

.contact {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.choice {
    padding: 15px;
    display: block;
}


.boardMember {
    display: flex;
    align-items: center;
    flex-direction: column;
}



.list section .businessData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 92%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
}

.list .businessImg {
    display: none;
}

.card-desc,
.desc {
    background: none;
    color: #d3b6b0;
    overflow-wrap: anywhere;
}

.list .businessData {
    box-shadow: none;
}

.businessData h2 {
    padding: 15px;
}


.homeData {
    margin-bottom: 40px;
}

.businessData,
.homeData {
    width: 72%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px;
    background-color: #550C18;
    margin-top: 7%;
    box-shadow: 0px 0px 10px white;
}

.businessImg {
    max-width: 45%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.opt {
    color: #0d1316;
    font-family: 'Arvo', serif;
}



.radio:checked {
    border: 20px solid #4099ff;
}


.tableDisplay {
    overflow-x: auto;
}

.non {
    color: navy;
    background-color: greenyellow;
}

.bronze {
    color: #CD7F32;
    background-color: #0e0e20
}

.silver {
    color: silver;
    background-color: #550C18;
}

.gold {
    color: gold;
    background-color: black;
}

.factPics {
    width: 95%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pieChart {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(#FF206E 0% 72%,
            #2B303A 72% 81%,
            #04A777 81% 90%,
            #FB8B24 90% 99%);
    margin-left: auto;
    margin-right: auto;
}



.entry {
    display: flex;
    align-items: center;
}

.entry-color {
    height: 10px;
    width: 10px;
}

.entry-text {
    margin-left: 5px;
}

.container {
    display: flex;
    margin-top: 29px;
    padding: 0;
    justify-self: center;
    font-family: "Roboto", sans-serif;
    margin-right: 25%;
}



.chart {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.numbers {
    margin: 0px;
    padding: 0;
    float: left;
    bottom: 145px;
}

.numbers li {
    color: #fff;
    list-style: none;
    height: 150px;
    position: relative;
    bottom: 145px;
}

.numbers span {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.bars {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #555;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 347px;
    height: 305px;
    box-shadow: 0 0 10px 0 #555;
    border-radius: 5px;
}

.bars li {
    display: table-cell;
    width: 100px;
    height: 300px;
    position: relative;
}

.bars span {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}

.bars .bar {
    display: block;
    background: #942a32;
    width: 36px;
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    text-align: center;
    box-shadow: 0 0 10px 0 #d3b6b0;
    transition: 0.5s;
    transition-property: box-shadow;
}

.bars .bar:hover {
    background: #FFBF00;
    box-shadow: 0 0 10px 0 aqua;
    cursor: pointer;
}

.bars .bar:before {
    color: #fff;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}

.logo {
    display: block;
    width: 215px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.mediaIcons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}



.creation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wandaC {
    width: 85%;
    height: auto;
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.social {
    width: 100%;
}

.display {
    display: none;
}



.footerParagraph {
    color: white;
    background-color: #DE1A1A;
    font-family: 'Arvo', serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.weather {
    display: flex;
    margin-top: -9%;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}


.wind {
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}