@media (min-width: 1245px) {

    h1 {
        color: white;
    }


    hr {
        margin-right: 10px;
        margin-left: 10px;
    }


    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: flex;

    }

    nav ul li a {
        border: none;

    }

    br.display {
        display: none;
    }


    #facts {
        grid-column: 1;
        grid-row: 1;
    }

    #pieChartBox {
        min-height: 30vh;
        padding: 15px;
        width: 40%;
        margin-left: 9%;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
    }

    .menuNav {
        display: flex;
        align-items: center;
        padding: 52px;
        background-color: #942a32;

    }
    
    .list{
        padding:20px;
    }

    .demographics {
        grid-column:2;
        margin-top: -985px;
    }

    .creation {
        grid-column: 2;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }


    .wandaC {
        width: 100%;
    }

    .container {
        grid-column: 2;
        width: 80%;
    }


    .mediaIcons {
        order: 1;
    }

    .display {
        display: block;
    }

    .notices {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-column: 1;
        grid-row: 1;
    }

    .spotlightDesign {
        grid-column: 3;
    }


    .spotlight {
        padding: 100px;
        margin-right: 10px;
        margin-left: 10px;
        border: 5px;
        border-style: solid;
        border-color: #988F2A;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footerFormat {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 10px;
    }

    .joinButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spotlightP {
        margin-left: 3%;
        margin-right: 3%;
    }



    #news {
        grid-column: 2;
        grid-row: 2;
    }

    #tvShow {
        grid-column: 2;
        grid-row: 3;

    }

    #hero {
        grid-column: 2;
        position: absolute;
        width: 50%;


    }

    #heroImg {
        width: 92%;
    }

    #join {
        grid-column: 1;
        grid-row: 4;
        margin-top: 28%;
    }


    #joinB {
        color: #988F2A;
        font-family: 'Varela Round', sans-serif;
        font-size: 20px;
        background-color: #0d1316;
        border: #942a32;
        border-style: solid;
        border-width: 10px;
        border-radius: 1em;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 50%;
    }

    #event {
        width: 95%;
        margin-left: 15px;
    }

    #message {
        position: relative;
        top: -190px;
        left: 68%;
        font-size: 20px;

    }
}