@media (min-width: 931px) {


    h1 {
        color: white;
    }


    hr {
        margin-right: 10px;
        margin-left: 10px;
    }


    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: flex;

    }

    nav ul li a {
        border: none;

    }

    br.display{
        display: none;
    }

    .menuNav {
        display: flex;
        align-items: center;
        padding: 52px;
        background-color: #942a32;

    }


    .mediaIcons {
        order: 1;
    }

    .display {
        display: block;
    }

    .notices {
        grid-column: 1;
        grid-row: 1;
    }


    .spotlight {
        padding: 100px;
        margin-right: 10px;
        margin-left: 10px;
        border: 5px;
        border-style: solid;
        border-color: #988F2A;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footerFormat{
        display:flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 10px;
    }

    #join {
        grid-column: 1;
    }


    #news {
        grid-column: 2;
        grid-row: 2;
        margin-top:0;
    }

    #hero {
        grid-column: 2;
        position:absolute;
        width:50%;
    
    
    }

    #event{
        width:95%;
    }
    
    #message{
        position:relative;
        top:-190px;
        left:68%;
        font-size:20px;
      
    }

}