@media (min-width:768px) and (max-width:976px) {

    
    h1 {
        align-self: center;
    }

    hr{
        height:50%;
        margin-left:auto;
        margin-right:auto;
    }

    #heroImg{
       display: flex;
       flex-direction: row;
       margin-left:auto;
       margin-right:auto;
        width:680px;
    }

    main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding:15px;
        padding: 15px;
    }
  
    .notices {
        display: grid;
        grid-template-columns: 1fr;
        grid-row:4;
        grid-row: 4;
    }

    #join.display {
        display: block;
    }
    .subNotice {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
    }

    .spotlightDesign {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menuNav {
        display: flex;
        align-items: center;
        padding: 52px;
    }


    #spotlight3 {
        display: none;
    }

    nav{
        margin-bottom:15px;
    }
        
    #join {
        order: -1;
        margin-top:-240px;
    }

} 