@media (min-width:768px) and (max-width:1245px) {


    h1 {
        align-self: center;
    }

    footer {
        margin-right: -21px;
        padding: 32px;
    }

    hr {
        margin-left: 15px;
        margin-right: 15px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav {
        margin-bottom: 15px;
    }

    div.gallery {
        width: 65%;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }



    #legend {
        margin-left: auto;
        margin-right: auto;
    }

    #pieChartBox {
        min-height: 30vh;
        padding: 15px;
        width: 73%;
        margin-left: 9%;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }

    #joinB {
        color: #988F2A;
        font-family: 'Varela Round', sans-serif;
        font-size: 20px;
        background-color: #0d1316;
        border: #942a32;
        border-style: solid;
        border-width: 10px;
        border-radius: 1em;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 50%;
    }

    #message {
        top: -198px;
        left: 62%;
        width: 14%;
    }

    #heroImg {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 680px;
    }

    #join.display {
        display: block;
    }

    #news {
        margin-left: auto;
        margin-right: auto;
        margin-top: 44%;
    }

    #spotlight3 {
        display: none;
    }

    #join {
        order: -1;
    }

    .wandaC {
        width: 70%;
        height: auto;
    }


    .demographics {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .pieChart {
        margin-left: auto;
        margin-right: auto;
    }



    .chart {
        margin-left: -19%;
    }

    .bars {
        width: 321px;
        height: 307px;
    }


    .footerParagraph {
        margin-left: -21px;
        margin-right: auto;
    }

    .joinButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list {
        padding: 20px;
    }

    .factPics {
        width: 75%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }



    .subNotice {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .spotlightDesign {
        display: grid;
        grid-template-columns: 1fr 0fr 1fr;
        margin-bottom: 6%;
        justify-content: center;
    }


    .menuNav {
        display: flex;
        align-items: center;
        padding: 52px;
    }

    .spotlightP {
        margin-left: 14%;
        margin-right: 14%;
    }

    .items {
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
    }

}