:root {
	--zebra: hsl(0, 0%, 93%, 1);
}

header,main,table,h1,th,td{
    font-family: Ubuntu, sans-serif;
    text-align: center;
}


#topHead{
    color:black;
	font-weight: bold;
	font-size: 30px;
    background-color: #7fb9c2;
}

.subHead{
    background-color: #628ca6;
    color:white;
}

#novValue{
    background-color: #628ca6;
    color:white;
}
table {
	margin: 10px auto;
	border: thin solid black;
	box-shadow: 0 15px 30px black;
	border-collapse: collapse;
}

tfoot tr {
  padding: 10px;
  text-align: center;
	color:black;
    background-color: #7fb9c2;
	font-size: .85rem;
}

tbody tr:nth-child(even) {
	background-color: #e7ffed;
}

tbody tr:nth-child(odd) {
	background-color: #cfdbd7;
}

th, td {
	padding: 7px 15px;
	border: 1px solid black;
}

td {
	text-align: center;
}
