@media (min-width:922px) {
    
    
    nav{
        flex-direction: row;
    }

    nav a{
        margin-top: 93px;
        margin-right: 40px;
    }

    nav a:hover{
        margin-left: 90px;
        margin-right:90px;
        
    }

    footer{
    margin-left: 90px;
    margin-right: 126px;
    }

    #logo{
        padding-top: 15px;
        margin-bottom: 20px;
        margin-left:15px;
    }

    p{
        font-size: 25px;
    }

    li,ul,ol{
        margin-left: 37px;
        margin-right:37px;
        padding-bottom:10px;
    }

    .users {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .quotes {
        margin-top: -219px;
        margin-left: -10%;
        margin-right: 100px;
    }
}
    
